
html, body {
    height: 100%;
}


div {
    border: solid 1pt red;
    height: inherit;
}



/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    div::after {
        content: '@media (max-width: 767px)';
    }
}

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    div::after {
        content: '@media (max-width: 480px)';
    }
}


/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    div::after {
        content: '@media (min-width: 768px) and (max-width: 979px) ';
    }
}

/* indefinido */
@media (min-width: 979px) {
    div::after {
        content: '@media (max-width: 979px) ';
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    div::after {
        content: '@media (min-width: 1200px)';
    }
}